.container{
    width: 100%; 
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    &_filter{
        width: 20%;
        padding: 50px 25px;
    }

    &_slider{
        margin: 25px 0 25px 10px;
    }

    &_options{
        display: flex;
        flex-direction: column;
    }

    &_course{
        width: 80%;
        padding: 50px 25px;
    }
}

.title{
    margin: 0;
}

.button{
    margin-bottom: 16px;
}